html *
{
   font-family: Times New Roman !important;
}

.mainpage {
	height: 100%;
	overflow-y:auto;
	width: calc(100% - 200px);
	position: fixed;
	top: 0;
	left: 200px;
	background-color: whitesmoke;
	overflow-y: hidden;
	color: black;
  overflow-x: hidden;
}

.sidebar {
  height: 100%;
  width: 190px; 
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: lightgreen;
  overflow-x: hidden;
  padding-top: 10px;
  padding-left: 10px;
}

.iframeInSidebar {
	width: calc(100% - 20px);
	height: calc(100% - 20px);
}

.buttons {
	width: calc(100% - 20px);
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iframeNav {
	height: calc(100% - 275px);
	width: calc(100% - 20px);
	min-height: 200px;
}

.iframeNav button {
  background: none!important;
  border: none;
  padding: 5!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.mainNav button {
  background: none;
  background-color: ghostwhite;
  /*optional*/
  /*input has OS specific font-family*/
  text-decoration: underline;
  cursor: pointer;
}

.dividerline {
  height: 2px;
  background-color: black;
  width: 100%;
}

.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  height: 500px;
}

.scroll-container img {
  padding: 10px;
  height: 475px;
}

.content {
  padding-left: 10px;
  padding-right: 20px;
  overflow-x: hidden;
}